__pycache__/
*.py[cod]
*.so

.pytest_cache/
.venv/
.mypy_cache/
.pyright/
.ruff_cache/
.pyre/

build/
dist/
*.egg-info/

.coverage
.coverage.*
htmlcov/
coverage.xml

target/
Cargo.lock
uv.lock

.ipynb_checkpoints/
.DS_Store
*~
